<c-row class="g-4">
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      color="primary"
      [title]="'Citas hoy'"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>{{ citasHoy }}</span>
        <span class="fw-normal" style="font-size: 12px;">hoy</span>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="citasChart" [options]="lineChartOptions" class="mt-3 mx-3" height="70" [type]="'line'" />
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Usuarios activos'"
      color="info"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>{{ usuariosHoy }}</span>
        <span class="fw-normal" style="font-size: 12px;">hoy</span>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="usuariosChart" [options]="lineChartOptions" class="mt-3 mx-3" height="70" type="line" />
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Ingresos mes'"
      color="warning"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>${{ ingresosMes | number:'1.0-0' }}</span>
        <span class="fw-normal" style="font-size: 12px;">Enero</span>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="ingresosChart" [options]="barChartOptions" class="mt-3 mx-3" height="70" type="bar" />
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      [title]="'Sesiones hoy'"
      color="danger"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>{{ sesionesHoy }}</span>
        <span class="fw-normal" style="font-size: 12px;">hoy</span>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="sesionesChart" [options]="lineChartOptions" class="mt-3 mx-3" height="70" type="line" />
      </ng-template>
    </c-widget-stat-a>
  </c-col>
</c-row>
